<div class="bg-green-800 text-white">
  <div class="container px-4">
    <div class="flex flex-row justify-between">
      <a href="/">
        <img src="/content/assets/zh-logo.svg" alt="Zack Hall logo" class="h-8 my-4" />
      </a>
      <div class="flex h-8 my-4 items-center">
        <a href="/notes/" class="mx-3 font-display font-bold uppercase hover:z-underline">
          Notes
        </a>
        <a href="/contact/" class="mx-3 font-display font-bold uppercase hover:z-underline">
          About<span class="tracking-tightest">&nbsp;&&nbsp;</span>Contact
        </a>
      </div>
    </div>
  </div>
</div>
