---
layout: base.njk
title: 404 - Not Found
description: Page not found
permalink: /404.html
---

<h1>Not Found</h1>
<p>You just hit a route that doesn't exist... the sadness.</p>
<p><a href="/">Go back home</a></p>
