---
layout: base.njk
title: About & Contact
description: Get in touch with Zack Hall
permalink: /contact/
---

<header class="z-border-b-dashed mb-8">
  <h1>Say hello</h1>
</header>

<div class="flex flex-col lg:flex-row">
  <div class="max-w-2xl pr-6">
    <p>
      Alright, you're here. My information's right there. But you haven't
      contacted me yet. What're you waiting for?
    </p>
    <p>
      Alright, I get it. There's a lot of engineers and you need me to
      prove that I can sling some code. I hate to be
      <strong><i>that guy</i></strong>. I don't like giving the hard sell. It's not my style, I'm
      typically more laid back. But here's a few things that I'm proud of.
    </p>
    <p>
      You ever heard of the site
      <a href="https://amazon.com">Amazon.com</a>? Don't lie. I know you
      have. And if so, you've certainly been using my code. I helped build
      the navigation bar at the top of every page. And when I was on that
      team in 2016, the A/B tests we ran resulted an increase in revenue
      of more than $600M <i>per year</i>. Not bad, am I right?
    </p>
    <img
      class="max-w-full mb-6"
      src="/content/assets/amazon-nav.png"
      alt="Amazon navigation"
    />
    <p>
      And you know that talking cylinder that you keep in your house?
      Yeah, she goes by Alexa usually. Ever asked her for the
      <a href="https://developer.amazon.com/en-US/docs/alexa/flashbriefing/understand-the-flash-briefing-skill-api.html">
        news
      </a>? That's running my code too. I taught Alexa many talents. I taught
      her to recognize the names of your favorite news channels (For
      example, <i>"Alexa, play news from CNN"</i> instead of the generic
      <i>"Alexa, play news"</i>). I taught her to play videos. I even
      taught her to play the news in India, Japan, Australia, New Zealand,
      Ireland, and Canada.
    </p>
    <img
      class="max-w-full mb-6"
      src="/content/assets/alexa.jpg"
      alt="Amazon Alexa"
    />
    <p>
      And if you're a front-end engineer, you might've heard of the Lodash
      utility library. The one that has more than 28 million weekly
      downloads. Yeah, that one. They trusted me to bring their new
      <a href="https://lodash.com">documentation website</a> to life using
      React, Jekyll and Github Pages.
    </p>
    <img
      class="max-w-full mb-6"
      src="/content/assets/lodash-page.png"
      alt="Lodash documentation"
    />
    <p>
      They're still sporting my little signature at the bottom to this
      day. ❤ you too Lodash.
    </p>
    <img
      class="block! max-w-full mb-6 mx-auto"
      src="/content/assets/lodash-signature.png"
      alt="Lodash signature"
    />
    <p>
      Those are some big names that put a lot of trust in me. Don't ya
      think?
    </p>
    <p>
      But if I'm honest, I'm most proud of this one because of how much it
      impacted a cherished local business. I designed and built a new
      website for a local Seattle CrossFit gym. And here's what the owner
      had to say about the work [
      <a href="https://www.facebook.com/davidisrael/posts/10159895346895265:0">
        source
      </a>]:
    </p>
    <blockquote>
      Before we launched ... we were receiving about 10 new members a
      month at most. And 2 months after we launched our new site, our
      numbers had more than doubled. That math is undeniable.
    </blockquote>
    <p>
      So no matter what kind of project you have in mind, go ahead and
      reach out.
    </p>
  </div>
  <div class="flex-grow order-first lg:order-none z-border-b-dashed lg:border-0 lg:px-6 mb-10">
    <h3 class="block font-bold text-base">Contact info</h3>
    <p>
      Email:<br />
      <a href="mailto:zack@zthall.com" class="z-underline">zack@zthall.com</a>
    </p>
    <p>
      <span>Twitter:</span>&nbsp;
      <small>
        <a href="https://twitter.com/zthall" class="z-underline">
          @zthall
        </a>
      </small>
    </p>
    <p>
      <span>Github:</span>&nbsp;
      <small>
        <a href="https://github.com/zackhall" class="z-underline">
          @zackhall
        </a>
      </small>
    </p>
    <p>
      <span>LinkedIn:</span>&nbsp;
      <small>
        <a
          href="https://www.linkedin.com/in/hallzack/"
          class="z-underline"
        >
          /in/hallzack
        </a>
      </small>
    </p>
  </div>
</div>
