---
layout: base.njk
title: All Notes
description: Blog posts and notes by Zack Hall
permalink: /notes/
---

<div class="max-w-2xl">
  {%- for post in collections.blog -%}
  <article class="mb-16">
    <header class="mb-2">
      <h3 class="mb-2">
        <a style="box-shadow: none;" href="{{ post.url }}">
          {{ post.data.title }}
        </a>
      </h3>
      <small>{{ post.date | readableDate }}</small>
    </header>
    <section>
      <p>{{ post.data.description or post.templateContent | excerpt }}</p>
    </section>
  </article>
  {%- endfor -%}
</div>
